<mat-nav-list>
    <div class="sidebar-header">
        <img class="logo" src="assets/logo/logo.png" alt="logo">
    </div>
    <div class="navlist">
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">Dashboard</a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/general-Information">General Information</a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Route Customer</a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/user-account">Manage User</a>
    </div>
</mat-nav-list>