<h2>Where Do you want to go?</h2>

<ul>
    <li>
<mat-icon> map</mat-icon> &nbsp; <a href="https://www.google.com/maps/place/Ethiopian+Federal+Police+commision+Headquarters+%7C+%E1%8D%8C%E1%8B%B5%E1%88%AB%E1%88%8D+%E1%8D%96%E1%88%8A%E1%88%B5+%E1%8B%8B%E1%8A%93+%E1%88%98%E1%88%B5%E1%88%AD%E1%8B%AB+%E1%89%A4%E1%89%B5+%7C+%E1%88%9C%E1%8A%AD%E1%88%B2%E1%8A%AE/@9.0096444,38.6714265,13z/data=!4m9!1m2!2m1!1sethiopian+federal+police+commission+head+office!3m5!1s0x164b85da73bc9cd7:0x4c5ba0a6184c1fa8!8m2!3d9.0095561!4d38.7434367!15sCi9ldGhpb3BpYW4gZmVkZXJhbCBwb2xpY2UgY29tbWlzc2lvbiBoZWFkIG9mZmljZZIBDmZlZGVyYWxfcG9saWNl4AEA">Adminstration And Development Sector</a>
 <mat-icon></mat-icon> <a href="">Crime Prevention Sector</a>
 <mat-icon></mat-icon> <a href="">Crime Investigation Sector</a>
 <mat-icon></mat-icon> <a href="">Police Hospital</a>
 <mat-icon></mat-icon> <a href="">Police University</a>
    </li>
</ul>
 